@include keyframes(click_to_continue) {
  0%   { color: #666; }
  50%  { color: #aaa; }
  100% { color: #666; }
}

@include keyframes(click_to_continue_i) {
  0%   { border-left-color: #666; transform:translate(-3px, 0); }
  50%  { border-left-color: #aaa; transform:translate(0, 0); }
  100% { border-left-color: #666; transform:translate(-3px, 0); }
}

$c: lighten(#4cc85e, 20%);
@include keyframes(qpop) {
  0% {
    @include box-shadow(0 0 1px 1px $c, 0 0 3px 1px $c inset);
  }
  50% {
    @include box-shadow(0 0 5px 5px $c, 0 0 5px 5px $c inset);
  }
  100% {
    @include box-shadow(0 0 1px 1px $c, 0 0 1px 1px $c inset);
  }
}

.panel.chatbox {
  @include unselectable;

  .chatpop {
    @include clearfix;
    position: relative;
    padding: $grid-gap / 2;
    padding-bottom: 0;

    $w: 64px;

    img.avatar {
      width:$w;height:$w;
      border-radius:4px;
      position:relative;
      float:left;
    }

    .area {
      margin-left: $w + $grid-gap / 2 + 10px;

      .pop {
        float: left;
        background-color: rgba(white, 0.1);
        border-radius: 4px;
        font-size: 16px;
        padding: ($w - 28px) / 2 20px;
        line-height:28px;min-height:28px;
        cursor:default;
        position: relative;
        margin-bottom: 10px;

        $w1: $w;
        &:before {
          $w:10px;
          content:"";
          position:absolute;
          border:solid $w transparent;
          border-right:solid $w rgba(white, 0.1);
          left:-$w * 2;
          top:$w1 / 2 - $w;
        }

        .name {
          color:#999;
        }
      }

      .click-to-continue {
        float: left;
        color: #999;
        clear: both;
        font-size: 16px;
        cursor: default;
        @include animation(click_to_continue 1s infinite);
        position: relative;
        height:32px;line-height:32px;

        $w:6px;
        &:before, &:after {
          content: "";
          border:solid $w transparent;
          border-left:solid $w #999;
          width:0;height:0;position:absolute;
          right:-$w * 2 - 10px;
          top: (32px - $w * 2) / 2;
          @include animation(click_to_continue_i 1s infinite);
        } 
        &:after {
          right: -$w * 3 - 10px - 2px;
        }
      }
    }

    &.no-npc {
      // .area {margin-left:0;}
      .area .pop {color:#aaa;}
      .area .pop:before {display: none;}
    }
  }

  .questionpop {
    @include clearfix;
    position: relative;
    padding: $grid-gap / 2;
    padding-bottom: 0;

    $w: 64px;
    $c: lighten(#4cc85e, 20%);
    .box {
      margin-left: $w + $grid-gap / 2 + 10px;
      margin-right: $w + $grid-gap / 2 + 10px;
      padding: 20px;
      border-radius: 4px;
      line-height:28px;min-height:28px;

      box-shadow:0 0 3px 1px $c, 0 0 3px 1px $c inset;
      border:solid 1px white;
      background:rgba($c, 0.05);
      position: relative;

      @include animation(qpop 1s infinite);

      .label {
        font-size: 16px;
        color: mix($c, #999, 50%);
        margin-bottom: 5px;
        opacity: 0.6;
      }
      .text {
        font-size: 16px;
        color: $c;
        // color:#0ff;
        margin-bottom: 15px;
      }
      .items {
        @include clearfix;
        margin:0 -5px -10px;
        .item {
          @include col(1/2, $gap:10px);
          margin-bottom:10px;
          a {
            display:block;
            font-size: 16px;
            height:48px;line-height:48px;
            background-color: rgba($c, 0.1);
            color:lighten($c, 20%);
            text-align:center;
            text-decoration:none;
            border-radius:4px;
            font-weight: bold;
            @include transition(all ease-in-out .2s);

            &:hover {
              background-color: rgba($c, 0.2);
              @include transform(scale(1.1) rotate(-0deg));
            }
          }
        }
      }
    }
  }
}