.container
  .row
    .col-pad-12
      .page-tutorials

        %a.t{:href => '/t/1', :data => {:id => 1}}
          %i.fa.fa-arrow-right
          %span story 1:
          %span intro

        %a.t{:href => '/t/2', :data => {:id => 2}}
          %i.fa.fa-arrow-right
          %span story 2:
          %span 寻找方块