.page-play
  .title 
    %span.ch 选择一个故事 …

  .stories-list
    .story.intro
      %a{:href => '/s/0', :data => {:toggle => true}} 
        %span #1 
        %span.en INTRO 
        %span.ch 开端
    .story.unknown
      %a{:href => 'javascript:;'} ???