!!!
%html{:lang => :zh}
  %head
    %title CSS Travels
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body.cover        
    .container
      .row
        .col-pad-12
          .page-content
            = yield